.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  padding: 0 2em;
}

.title {
  color: #fff;
  font-weight: 700;
  font-size: 1.625em;
  font-family: var(--display-font);
}

.titleAccent {
  color: var(--accent-color);
}
